@media screen and (max-width: 991px) {
  .gradientgaleria {
    background: #000000;
    background: linear-gradient(0deg, #43d6d6 0%, #060606 100%); }
  .fondolistaspan {
    background-color: #36606d; }
  .fondolista {
    background: #22c1c3;
    background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
    text-align: center; }
    .fondolista ul li {
      display: inline-block;
      padding: 5px 5px; }
      .fondolista ul li a {
        text-decoration: none;
        display: inline-block;
        text-align: right;
        color: #77b395; }
  .main h1 {
    color: #2c1322cc;
    /* font-size: 1.5rem; */
    text-align: center;
    margin: 10px;
    font-family: yatra;
    font-weight: bold; }
  .h3 {
    color: #59e7b8;
    font-size: 1.5rem;
    text-align: justify;
    align-content: center;
    margin-top: 40px;
    padding: 20PX 20PX;
    font-family: kalam; }
  .row {
    flex-direction: column-reverse;
    align-items: center; }
  .col-6 {
    width: 100%; } }

.fondomain {
  background: #1a936f;
  background: linear-gradient(180deg, #1a936f 12%, #88d498 55%, #c6dabf 91%); }

.main h2 {
  color: #362242;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
  font-family: kalam; }

.logolista1 img {
  position: sticky;
  width: 3.67rem;
  height: 3.67rem;
  z-index: 2; }

.logolista img {
  position: absolute;
  margin-top: 16px;
  width: 3.67rem;
  height: 3.67rem;
  z-index: 2; }

.fotos h3 {
  color: #092b1e;
  font-size: 2rem;
  text-align: left;
  margin-top: 40px;
  font-family: monospace; }

.fotos img {
  display: flex;
  margin-left: 20px;
  padding-top: 20px;
  width: 350px;
  height: 350px; }

.fondomain1 {
  background: #ffccd5;
  background: linear-gradient(180deg, #ffccd5 12%, #ffb3c1 55%, #ff8fa3 91%); }

.row {
  --bs-gutter-x: 1px;
  display: flex;
  align-items: center; }

.form {
  box-shadow: 0 0 20px 0;
  border-radius: 5px;
  background: linear-gradient(8deg, #946d8c 9%, #378ca7 81%);
  padding: 1rem;
  margin: 1rem; }
  .form h2 {
    text-align: center;
    color: #000000;
    font-size: 30px;
    margin: 20px;
    padding-top: 20px;
    font-family: kalam; }
  .form label {
    width: 100%;
    font-weight: bold;
    color: #104910;
    margin-bottom: 10px;
    background-image: none;
    border: none; }
  .form input {
    width: 100%;
    margin-block: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px; }
  .form textarea {
    width: 100%;
    margin-block: 10px;
    border: none;
    border-radius: 10px; }

.fieldset {
  box-shadow: 0 0 20px 0;
  border-radius: 5px;
  background: #01161e;
  background: linear-gradient(323deg, #01161e 12%, #aec3b0 55%, #eff6e0 91%);
  padding: 1rem;
  margin: 1rem; }
  .fieldset h2 {
    text-align: center;
    color: #000000;
    font-size: 30px;
    margin: 20px;
    padding-top: 20px;
    font-family: kalam; }
  .fieldset label {
    width: 100%;
    color: #104910;
    font-weight: bold;
    margin-bottom: 10px;
    background-image: none;
    border: none; }
  .fieldset input {
    width: 100%;
    margin-block: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px; }

.enviar {
  text-align: center; }

.boton1 {
  color: #911b1b;
  padding: 10px 20px;
  margin: 10px;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  background: #1bc740;
  background: linear-gradient(82deg, transparent 50%, #22b973 0%, #94bbe9 100%);
  background-size: 300%;
  background-position: left;
  transition: background-position 0.3s; }
  .boton1:hover {
    background-position: right;
    color: #000000; }

.gradientgaleria {
  background: #1b4332;
  background: linear-gradient(180deg, #1b4332 12%, #40916c 55%, #74c69d 91%); }
  .gradientgaleria h1 {
    text-align: center;
    color: #1aebe18f; }

.img-thumbnail {
  margin: 0px;
  border: 10px; }

.fondogradient {
  background: #9d4edd;
  background: linear-gradient(180deg, #9d4edd 12%, #c77dff 55%, #e0aaff 91%); }

.gradientsobremi {
  background: #253237;
  background: linear-gradient(275deg, #253237 12%, #5c6b73 55%, #9db4c0 91%); }

.h3 {
  color: #09929c;
  text-align: justify;
  align-content: center;
  margin-top: 40px;
  padding: 20PX 20PX;
  font-family: kalam; }

.fondolista {
  background: linear-gradient(60deg, #b5c99a 9%, #b5c99a 21%, #87986a 30%, #718355 40%, #5a6d45 52%, #425734 65%, #2b4124 78%, #132a13 91%);
  font-size: 1rem;
  text-align: right; }
  .fondolista ul li {
    display: inline;
    padding: 15px 15px; }
  .fondolista a {
    color: aliceblue;
    font-family: kalam; }

.navbar-brand img {
  position: sticky;
  width: 3.67rem;
  height: 3.67rem;
  z-index: 2; }

.redes img {
  margin-top: 3rem;
  width: 50px;
  display: inline-block;
  padding: 5px 5px; }

.fondofooter {
  background-color: #0d2529;
  z-index: 2;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .fondofooter .copyright {
    color: #ffff; }
