/*ctrl F para buscar*/

/* cambia a 1 rem = 10 mpx */
html {
    font-size: 62, 5%;
}

/*cambios para todo el codigo*/

body {
    font-family: 'Libre Franklin', sans-serif;
}

* {
    box-sizing: border-box;
    /* me gusta mas boorder-box que este 
    margin: 0%;
    padding: 0%;*/

}

.fondolista {
    background: linear-gradient(60deg, #b5c99a 9%, #b5c99a 21%, #87986a 30%, #718355 40%, #5a6d45 52%, #425734 65%, #2b4124 78%, #132a13 91%);
    font-size: 1rem;
    text-align: right;
}

.fondolista ul li {
    display: inline-block;
    padding: 20px 20px;
}

a {
    text-decoration: none;
    display: inline-block;
    text-align: right;
    color: #ecf39e;
}

/*index*/
.fondomain {
    height: auto;
    background-image: url("../images/7.png");
    /*background-repeat: no-repeat;*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*width: 100%;*/
}

.gridmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1.5fr 1fr;
    grid-template-areas:
        "logolista logolista"
        "main main"
        "fotos parrafo"
        /*"fotos parrafo"
        "fotos parrafo"
        "fotos parrafo"
        "fotos parrafo"
        "fotos parrafo"*/
        "redes redes"
    ;
}

.logolista {
    grid-area: logolista;
}

.main {
    grid-area: main;
}

.fotos {
    grid-area: fotos;
}

.parrafo {
    grid-area: parrafo;
}

.redes {
    grid-area: redes;
}


.logolista img {
    position: absolute;
    width: 3.67rem;
    height: 3.67rem;
    z-index: 2;
}

.main h3 {
    color: #092b1e;
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
    font-family: monospace;
}

.main h1 {
    color: #8d0c53cc;
    font-size: 5rem;
    text-align: center;
    margin-top: 40px;
}

.fotos h3 {
    color: #092b1e;
    font-size: 2rem;
    text-align: left;
    margin-top: 40px;
    font-family: monospace;
}

.fotos img {
    position: sticky;
    width: 350px;
    height: 350px;
}

.fotos p{
    font-family: 'Kalam', cursive;
    font-size:medium;
}
.redes img {
    width: 50px;
    display: inline-block;
    padding: 5px 5px;
}

/* contactame*/

.fondomain1 {
    padding: 1.5rem;
    height: auto;
    background: #9c979b;
    background: linear-gradient(8deg, #9c979b 9%, #89d7ed 81%);
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.4fr 0.2fr;
    grid-template-areas:
        "listado listado"
        "form fieldset"
        "enviar enviar"
        "footer footer"
    ;
}

.listado {
    grid-area: listado;
}

.form {
    grid-area: form;
}

.fieldset {
    grid-area: fieldset;
}

.enviar {
    grid-area: enviar;
}

.footer {
    grid-area: footer;
}



.form {
    box-shadow: 0 0 20px 0;
    border-radius: 5px;
    background: linear-gradient(8deg, #946d8c 9%, #0f2e37 81%);
    padding: 1rem;
    margin: 1rem;
    grid-area: form;

}

.form h2 {
    text-align: center;
    color: #7d8486;
    font-size: 30px;
    margin: 20px;
    padding-top: 20px;
    font-family: monospace
}


.form label {
    width: 100%;
    font-weight: bold;
    color: #c7cfc7;
    margin-bottom: 10px;
    background-image: none;
    border: none;
}


.form input {
    width: 100%;
    margin-block: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;

}


.form textarea {
    width: 100%;
    margin-block: 10px;
    border: none;
    border-radius: 10px;

}

.enviar {
    text-align: center;

}

.boton1 {
    color: #000000;
    padding: 10px 20px;
    margin: 10px;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    /*background: rgb(130, 139, 132);*/
    background: linear-gradient(82deg, transparent 50%, #22b973 0%, #94bbe9 100%);
    background-size: 300%;
    background-position: left;
    transition: background-position 0.3s;
}

.boton1:hover {
    background-position: right;
    color: #000000;

}

.fieldset {
    box-shadow: 0 0 30px 0;
    border-radius: 5px;
    background: linear-gradient(190deg, #801d47 6%, #cd8faa 50%, #000000 94%);
    padding: 1rem;
    margin: 1rem;

}

.fieldset h2 {
    text-align: center;
    color: #c7cfc7;
    font-size: 30px;
    margin: 20px;
    padding-top: 20px;
    font-family: monospace
}


.fieldset label {
    width: 100%;
    color: #c7cfc7;
    font-weight: bold;
    margin-bottom: 10px;
    background-image: none;
    border: none;
}


.fieldset input {
    width: 100%;
    margin-block: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;

}

/*galeria*/

.gradientgaleria {
    /*background: rgb(140, 13, 39);
    background: radial-gradient(circle, rgba(140, 13, 39, 1) 5%, rgba(65, 60, 61, 1) 62%, rgba(252, 176, 69, 1) 100%);*/
    background: #413c3d;
    background: linear-gradient(63deg, #413c3d 47%, #fcb045 100%);
}

/*sobre mi*/
.gradientsobremi {
    background: rgb(130,139,132);
    background: linear-gradient(34deg, #828b84 44%, #b56868 79%);
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr grid-template-areas: "yellowstone parrafo"
    ;
}

.yellowstone {
    grid-area: img;
}

.h3 {
    color: #25272c;
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 40px;
    padding: 20PX 20PX;
}

.parrafo {
    grid-area: p;
}

.gradientsobremi img {
    width: 40%;
    position;
}


/*mis productos*/
.fondogradient {
    background: #c86fbc;
    background: linear-gradient(8deg, #c86fbc 13%, #89d7ed 63%, #fcb045 100%);
}

@media screen and (max-width: 768px) {
    .fondolista ul li {
        display: inline-block;
        padding: 5px 5px;

    }

    .fondomain1 {
        background: rgb(234, 240, 240);
        background: linear-gradient(0deg, rgba(234, 240, 240, 1) 0%, rgba(6, 6, 6, 1) 100%);
    }

    .fondolista {
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        text-align: center;
    }

    a {
        text-decoration: none;
        display: inline-block;
        text-align: right;
        color: #04301a;
    }

    .form {
        box-shadow: 0 0 20px 0;
        background: rgb(28, 221, 24);
        background: linear-gradient(8deg, #1cdd18 33%, #0f2e37 78%);
        padding: 1rem;
        grid-area: form;
        border-radius: 10px;
    }

    .fieldset {
        background: #dd18b5;
        background: linear-gradient(8deg, #dd18b5 9%, #0f2e37 81%);
    }

    .boton1 {
        color: #000000;
        cursor: pointer;
        /*background: rgb(130, 139, 132);*/
        cursor: pointer;
        background: linear-gradient(34deg, transparent 50%, #eaf0f0 6%, #18c2c2 44%, #060606 95%);
        background-size: 200%;
        background-position: left;
        transition: background-position 0.5s;
    }

    .boton1:hover {
        background-position: right;
        color: #000000;

    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
        grid-template-areas:
            "listado"
            "form"
            "fieldset"
            "enviar"
            "footer"
        ;
    }

    .listado {
        grid-area: listado;
    }

    .form {
        grid-area: form;
    }

    .fieldset {
        grid-area: fieldset;
    }

    .enviar {
        grid-area: enviar;
    }

    .footer {
        grid-area: footer;
    }


}