.fondomain1 {
    background: #ffccd5;
    background: linear-gradient(180deg, #ffccd5 12%, #ffb3c1 55%, #ff8fa3 91%);
}

.form {
    box-shadow: 0 0 20px 0;
    border-radius: 5px;
    background: linear-gradient(8deg, #946d8c 9%, #378ca7 81%);
    padding: 1rem;
    margin: 1rem;
    grid-area: form;

    h2 {
        text-align: center;
        color: #000000;
        font-size: 30px;
        margin: 20px;
        padding-top: 20px;
        font-family: kalam;
    }

    label {
        width: 100%;
        font-weight: bold;
        color: #104910;
        margin-bottom: 10px;
        background-image: none;
        border: none;
    }

    input {
        width: 100%;
        margin-block: 10px;
        font-size: 20px;
        border: none;
        border-radius: 5px;

    }

    textarea {
        width: 100%;
        margin-block: 10px;
        border: none;
        border-radius: 10px;

    }
}

.fieldset {
    box-shadow: 0 0 20px 0;
    border-radius: 5px;
    background: #01161e;
    background: linear-gradient(190deg, #01161e 12%, #aec3b0 55%, #eff6e0 91%);
    padding: 1rem;
    margin: 1rem;

    h2 {
        text-align: center;
        color: #000000;
        font-size: 30px;
        margin: 20px;
        padding-top: 20px;
        font-family: kalam;
    }

    label {
        width: 100%;
        color: #104910;
        font-weight: bold;
        margin-bottom: 10px;
        background-image: none;
        border: none;
    }

    input {
        width: 100%;
        margin-block: 10px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
    }

}

.enviar {
    text-align: center;
}

.boton1 {
    color: #911b1b;
    padding: 10px 20px;
    margin: 10px;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(27, 199, 64);
    background: linear-gradient(82deg, transparent 50%, #22b973 0%, #94bbe9 100%);
    background-size: 300%;
    background-position: left;
    transition: background-position 0.3s;

    &:hover {
        background-position: right;
        color: #000000;
    }
}