.gradientgaleria {
    background: #1b4332;
    background: linear-gradient(180deg, #1b4332 12%, #40916c 55%, #74c69d 91%);

    h1 {
        text-align: center;
        color: #1aebe18f;
    }
}

.img-thumbnail {
    margin: 10px;
    border: 10px;
}