.fondomain {
    background: rgb(26,147,111);
    background: linear-gradient(180deg, #1a936f 12%, #88d498 55%, #c6dabf 91%);
}

.main{
    h2 {
    color: #362242;
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    font-family: kalam;
    }
    h1 {
    color: #2c1322cc;
    font-size: 5rem;
    text-align: center;
    margin: 0px;
    font-family: yatra;
    font-weight: bold;
    }
}

.logolista1 img {
    position:sticky;
    width: 3.67rem;
    height: 3.67rem;
    z-index: 2;
}

.logolista img {
    position: absolute;
    margin-top: 16px;
    width: 3.67rem;
    height: 3.67rem;
    z-index: 2;
}

.fotos h3 {
    color: #092b1e;
    font-size: 2rem;
    text-align: left;
    margin-top: 40px;
    font-family: monospace;
}

.fotos img {
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
    width: 350px;
    height: 350px;
}