@media screen and (max-width: 991px){
    
    .gradientgaleria {
        background: #000000;
        background: linear-gradient(0deg, #43d6d6 0%, #060606 100%);
    }
    .fondolistaspan {
        background-color: #36606d;
    }

    .fondolista {
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        text-align: center;
        ul li {
            display: inline-block;
            padding: 5px 5px;
            a {
                text-decoration: none;
                display: inline-block;
                text-align: right;
                color: #77b395;
            }
    
        }
    }
    
    .main h1 {
        color: #2c1322cc;
        /* font-size: 1.5rem; */
        text-align: center;
        margin: 10px;
        font-family: yatra;
        font-weight: bold; 
    }

    .h3 {
        color: #59e7b8;
        font-size: 1.5rem;
        text-align: justify;
        align-content:center;
        margin-top: 40px;
        padding: 20PX 20PX;
        font-family: kalam;
    }
    .row{
        flex-direction: column-reverse;
        align-items: center;
    }
    .col-6{
        width: 100%;
    }
}