.gradientsobremi {
    background: #253237;
    background: linear-gradient(275deg, #253237 12%, #5c6b73 55%, #9db4c0 91%);
}

.h3 {
    color: #09929c;
    text-align: justify;
    align-content: center;
    margin-top: 40px;
    padding: 20PX 20PX;
    font-family: kalam;
}