@import"variables";
@import"mediaqueries";
@import"index";
@import"contactame";
@import"galeria";
@import"misproductos";
@import"sobremi";


.fondolista {
    background: linear-gradient(60deg, #b5c99a 9%, #b5c99a 21%, #87986a 30%, #718355 40%, #5a6d45 52%, #425734 65%, #2b4124 78%, #132a13 91%);
    font-size: 1rem;
    text-align: right;
    ul li{
    display: inline;
    padding: 15px 15px;
    }
    a{
        color: aliceblue;
        font-family:kalam;
    }
}

.navbar-brand{
    img{
        position:sticky;
        width: 3.67rem;
        height: 3.67rem;
        z-index: 2;

    } 
}

.redes img{
        margin-top: 3rem;
        width: 50px;
        display: inline-block;
        padding: 5px 5px;

}
.fondofooter{
    background-color:#0d2529;
    z-index: 2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .copyright{
        color: #ffff
    }
}